:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
}

mat-horizontal-stepper{
    flex-grow: 1;
}

mat-toolbar {
    display: flex;
}

#back {
    justify-self: flex-start;
}

#forward {
    justify-self: end;
}

#l {
    display: flex;
    justify-content: flex-start;
}

#r {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.fullWidthInput {
    width: 100%;
}

:host {
    display: flex;
    overflow: hidden;
}

#content {
    height: calc(100%);
    overflow: scroll;
    margin-top: 10px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.delayedBolus {
    max-height: 20px;
    overflow: hidden;
    transition: max-height 0.4s;
    margin-bottom: 5px;
}

.delayedBolusExpanded {
    max-height: 320px;
}

button {
    margin-bottom: 10px;
}

.delayedBolusContent {
    margin-top: 20px;
}


