<mat-list>
    <mat-list-item routerLink="../ingestion" matRipple> <div class="material-icons icon">local_dining</div> Essens-Aufnahme </mat-list-item>
    <mat-divider></mat-divider> 
    <mat-list-item routerLink="../blood-sugar" matRipple> <div class="material-icons icon">colorize</div> Blutzucker-Messung </mat-list-item>
    <mat-divider></mat-divider> 
    <mat-list-item routerLink="../custom" matRipple> <div class="material-icons icon">build</div> Manuelle-Eingabe </mat-list-item>
    <mat-divider></mat-divider> 
   </mat-list>