<mat-card id="card">
    <div *ngIf="currentFrameValues===null"> Für diesen Zeitraum sind keine Zielwerte-Angegeben!</div>
    <div *ngIf="currentFrameValues!==null">Zielwert für diese Zeit: {{(hourGoalVal * bsunit.factor )| number:'1.0-2'}}
        {{bsunit.identifier}}</div>
    <div *ngIf="showable">
        <div *ngIf="rating===-2"> Sie befinden sich im Hypoglykämie-Bereich </div>
        <div *ngIf="rating===-1"> Sie befinden sich unter dem Ziel-Bereich! </div>
        <div *ngIf="rating===0"> Sie befinden sich im Ziel-Bereich!</div>
        <div *ngIf="rating===1"> Sie befinden sich über dem Ziel-Bereich! </div>
        <div *ngIf="rating===2"> Sie befinden sich im Hyperglykämie-Bereich </div>
    </div>
</mat-card>
{{lastBSValue}}