<div [ngStyle]="{'flex-grow':graphViewActivated?1:0}" id="graphArea">
    <div (click)="graphViewActivated= !graphViewActivated" id="graphShowButton" class="material-icons"> expand_less
    </div>
</div>
<div id="entryArea">
    <ng-template [ngIf]="dayMappedEntries.length" [ngIfElse]="elseBlock">
        <mat-card *ngFor="let aggr of dayMappedEntries">
            <mat-card-title> {{aggr.day |customTime:"date"}}
            </mat-card-title>
            <div class="entry" *ngFor="let entry of aggr.entries">
                <div class="timeDisplay">{{entry.timeStamp |customTime:"dayTime" }} </div>
                <div class="entry_attribute">
                    <app-entry-overview-visualizer [entry]="entry"></app-entry-overview-visualizer>
                </div>
            </div>
        </mat-card>
    </ng-template>
    <ng-template #elseBlock><mat-spinner></mat-spinner></ng-template>
</div>