.fullWidthInput {
    width: 100%;
  }

  #food-List {
    height: 100%;
    overflow: scroll;
  }
  mat-expansion-panel {
    box-shadow: none !important;
  }
  .expansion-header {
    position: relative;
  }
  .invisibleExpandHandler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    z-index: 50;
  }
  .descr-row {
    display: flex;
  }
  .descr-content {
    flex-basis: 49%;
    flex-grow: 1;
  }