mat-list {
    margin-top: 20px;

    .list-icons {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
}

#addItem {
    display: flex;
    justify-content: center;
}

#add {
    width: 95%;
}