<mat-list>
    <h3 mat-subheader>Meine Tagebücher</h3>
    <mat-list-item [class.link-activated]="ref.diaryId==diarySelectionService.currentDiaryId$.getValue()"
        (click)="switchDiary(ref.diaryId)" matRipple *ngFor="let ref of myDiaries">
        {{ref.diaryName}}
        <mat-divider></mat-divider>
    </mat-list-item>
    <h3 mat-subheader>Freigegebene Tagebücher</h3>
    <mat-list-item
        [class.link-activated]="grant.diaryReference.diaryId==diarySelectionService.currentDiaryId$.getValue()"
        (click)="switchDiary(grant.diaryReference.diaryId)" matRipple *ngFor="let grant of myGrants">
        {{grant.diaryReference.diaryName}}
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>