<h1 mat-dialog-title>Nahrung auswählen</h1>
<div id="modalBody">

    <mat-tab-group (selectedTabChange)="tabClick($event)" mat-stretch-tabs [selectedIndex]="selectedTabIndex">
        <mat-tab label="Gespeichert">
            <app-list-food-picker #listFoodPicker [currentlySelecteFood]="preselectedDBFood"></app-list-food-picker>
        </mat-tab>
        <mat-tab label="Manuell">
            <app-food-editor #customFoodPicker [form]="customFoodFormGroup" [preselected]="preselectedCustoMFood" #customFoodPicker> </app-food-editor>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions id="mat-dialog-actions">
    <button mat-button (click)="onNoClick()" mat-stroked-button color="warn">Abbrechen</button>
    <button mat-button [disabled]="!isValid" (click)="onSubmit()" mat-stroked-button color="primary">OK</button>
</div>