
mat-toolbar {
    display: flex;

    #middle {
        flex-grow: 1;
    }
}

.mat-list-item {
    height: auto;
}

mat-dialog-content {
    padding: 0;

    margin: 0;
    margin-top: 1rem;
    .inputwrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        padding: 2px 0;
        mat-form-field {
            width: calc(100% - 70px);

        }
        .field-extra-buttons {
            flex: 70px;
            display: flex;
            justify-content: flex-end;
            .material-icons {
                font-size: 2rem;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
            } 
        }
    }
}

