<div [formGroup]="group">
    <mat-expansion-panel [expanded]="activated.value" #panel hideToggle>
        <mat-expansion-panel-header matRipple (click)="panel.toggle();" class="expansion-header">
            <mat-panel-title>
                Abgabe des Bolus über Zeitraum
            </mat-panel-title>
            <div class="expandHandler" (click)="$event.stopPropagation();">
                <mat-checkbox formControlName="activated" (click)="panel.toggle();"></mat-checkbox>
            </div>

        </mat-expansion-panel-header>
        <div>Wie viele Einheiten sollen vom eigentlichen Nahrungsbolus verzögert abgebeben werden?</div>
        <mat-slider formControlName="relativePortionControl" class="fullWidthInput" [max]="currentSelectedNormalBolus"
            [min]="0" [step]="1"> </mat-slider>
        {{relativPart.value? relativPart.value : 0}} IE von {{currentSelectedNormalBolus}} IE
        <mat-form-field class="fullWidthInput">
            <input formControlName="fixPortionControl" class="fullWidthInput" matInput
                placeholder="Fixer Anteil" type="number">
            <span matSuffix>IE</span>
        </mat-form-field>
        <mat-form-field class="fullWidthInput">
            <input formControlName="timeIntervallControl" class="fullWidthInput" matInput
                placeholder="Abgabezeitraum" type="time">
        </mat-form-field>
        <div>Es werden <b>{{currentSumBolus}}</b> Einheiten über einen Zeitraum von
                <b>{{currentTimeIntervall}}</b> Minuten abgegeben. </div>

    </mat-expansion-panel>
</div>