/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full_screen_dialog {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;

    mat-dialog-container {
        border-radius: 0 !important;
        padding: 0;
    }
}

.full-screen-loader {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-spinner {
        width: 60%;
        height: auto;
    }

}